name: CI Structure Demo

on:
  push:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Job 1 running"

  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello After Job1
        run: echo "Job 2 running after Job 1"
